USE [master]
GO
/****** Object:  Database [INTEGRADOR_3]    Script Date: 22/06/2016 23:07:14 ******/
CREATE DATABASE [INTEGRADOR_3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SW_PROJETOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SW_PROJETOS.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SW_PROJETOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SW_PROJETOS_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INTEGRADOR_3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INTEGRADOR_3]
GO
/****** Object:  Table [dbo].[TB_CARGOS]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CARGOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CARGO] [varchar](50) NULL,
 CONSTRAINT [PK_TB_CARGO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CASOS_DE_USO]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CASOS_DE_USO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[CSU] [varchar](50) NULL,
	[DESCRIÇÃO] [varchar](300) NULL,
	[Nº_PACOTE] [int] NULL,
 CONSTRAINT [PK_TB_CASOS_DE_USO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CICLOS_DE_VIDA]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CICLOS_DE_VIDA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIÇÃO] [nvarchar](50) NULL,
 CONSTRAINT [PK_CICLOS_DE_VIDA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_EQUIPE_TÉCNICA]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_EQUIPE_TÉCNICA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[ID_TÉCNICO] [int] NULL,
	[NOME] [varchar](50) NULL,
	[CARGO] [varchar](50) NULL,
 CONSTRAINT [PK_TB_EQUIPE_TÉCNICA2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_FASES]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FASES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIÇÃO] [nvarchar](50) NULL,
 CONSTRAINT [PK_FASES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_JUSTIFICATIVAS]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_JUSTIFICATIVAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[DESCRIÇÃO] [varchar](50) NULL,
 CONSTRAINT [PK_TB_JUSTIFICATIVAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_OBJETIVOS]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_OBJETIVOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[DESCRIÇÃO] [varchar](50) NULL,
 CONSTRAINT [PK_TB_OBJETIVOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PACOTES_ENTREGA]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PACOTES_ENTREGA](
	[ID_PACOTE] [int] IDENTITY(1,1) NOT NULL,
	[Nº_PACOTE] [int] NULL,
	[DESCRIÇÃO] [varchar](50) NULL,
	[DATA_CADASTRO] [date] NULL,
	[FASE] [varchar](50) NULL,
	[CUSTO] [float] NULL,
	[DATA_PREVISTA_ENTREGA] [date] NULL,
	[ID_PROJETO] [int] NULL,
	[DATA_REAL_ENTREGA] [date] NULL,
	[SITUAÇÃO] [varchar](50) NULL,
 CONSTRAINT [PK_TB_PACOTAO] PRIMARY KEY CLUSTERED 
(
	[ID_PACOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PREMISSAS]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PREMISSAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[DESCRIÇÃO] [varchar](50) NULL,
 CONSTRAINT [PK_TB_PREMISSAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PROJETOS]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PROJETOS](
	[ID_PROJETO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_PROJETO] [varchar](50) NULL,
	[GERENTE_PROJETO] [varchar](50) NULL,
	[DATA_PREVISTA_INICIO] [date] NULL,
	[DATA_PREVISTA_ENTREGA] [date] NULL,
	[CUSTO_TOTAL_PREVISTO] [float] NULL,
	[CICLO_DE_VIDA] [varchar](50) NULL,
	[SITUAÇÃO] [varchar](50) NULL,
	[DATA_REAL_INICIO] [date] NULL,
	[DATA_REAL_ENTREGA] [date] NULL,
	[CUSTO_TOTAL_ATUAL] [float] NULL,
 CONSTRAINT [PK_TB_PROJETOS2] PRIMARY KEY CLUSTERED 
(
	[ID_PROJETO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_REQUISITOS]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_REQUISITOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[RF] [varchar](50) NULL,
	[DESCRIÇÃO] [varchar](300) NULL,
 CONSTRAINT [PK_TB_REQUISITOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_RESTRIÇÕES]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_RESTRIÇÕES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[DESCRIÇÃO] [varchar](300) NULL,
 CONSTRAINT [PK_TB_RESTRIÇÕES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_RISCOS]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_RISCOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[DESCRIÇÃO] [varchar](50) NULL,
	[PLANO_DE_AÇÃO] [varchar](300) NULL,
 CONSTRAINT [PK_TB_RISCOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_SITUAÇÕES]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_SITUAÇÕES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIÇÃO] [nvarchar](50) NULL,
 CONSTRAINT [PK_SITUAÇÕES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TB_STAKEHOLDERS]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_STAKEHOLDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROJETO] [int] NULL,
	[NOME] [varchar](50) NULL,
 CONSTRAINT [PK_TB_STAKEHOLDERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_TÉCNICOS]    Script Date: 22/06/2016 23:07:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_TÉCNICOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[CARGO] [varchar](50) NULL,
 CONSTRAINT [PK_TB_TÉCNICOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
